<div class="container-fluid my-3">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-body">
        <!-- <p-tabView>
          <p-tabPanel header="Form1" styleClass="blue-header">
             <form>
              <div class="form-group">
                <label for="nombre" class="form-class-label">nombre</label>
                <input type="text" name="nombre" id="nombre" class="form-control">
              </div>
             </form>
          </p-tabPanel>
          <p-tabPanel header="Header 2">
              Content 2
          </p-tabPanel>
          <p-tabPanel header="Header 3">
              Content 3
          </p-tabPanel>
        </p-tabView> -->
        <!-- <p-dialog [draggable]="false" [resizable]="false" [modal]="true" [(visible)]="viewModal" [style]="styles" header="header">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti reiciendis laborum voluptatem in voluptatum incidunt consequuntur, perferendis sequi facere libero unde nulla cumque. Itaque aperiam, illo minima ut accusantium porro commodi error vero odit labore, temporibus rem ratione debitis tempore accusamus ullam magni est tenetur deleniti aliquid? Ipsum eveniet optio voluptates porro fugit esse veniam voluptatibus commodi, ut labore modi expedita ducimus quis quaerat dolorem possimus? Reiciendis tempora accusamus officia totam eligendi! Debitis nemo dolorum nostrum ut. Esse odit nesciunt iusto cumque pariatur exercitationem tempora eveniet, quisquam cum, asperiores deleniti rem ducimus, ut quo iure. Aliquid minus porro voluptas dolor?
          </p>
        </p-dialog> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
              <h2 class="text-white mb-0">Sales value</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                    <span class="d-none d-md-block">Month</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                    <span class="d-none d-md-block">Week</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h2 class="mb-0">Total orders</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>